html {
  height: 100%;
  width: 100%;
}

.btn-outline-success {
  color: chocolate;
  border-color: chocolate;
}

.btn-outline-success:hover {
  background-color: chocolate;
  border-color: chocolate;
  color: white;
}

footer {
  background-color: black;
  color: white;
}

.first-line {
  border-bottom: 1px solid #392d23;
}

.second-line a {
  color: white;
  text-decoration: none;
}

.third-line {
  display: none;
}

@media screen and (max-width:48rem) {
  .first-line {
    text-align: center;
  }
}

@media screen and (max-width:48rem) {
  .second-line {
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 1px solid #392d23;
  }
}

@media screen and (max-width:48rem) {
  .third-line {
    display: block;
  }
}

@media screen and (max-width:48rem) {
  .first-footer-element {
    display: none;
  }
}