.background-grey {
    background-color: grey;
    z-index: 2;
    position: absolute;
    left: 179px;
    top: 238px;
}

.background-black {
    background-color: black;
    z-index: 1;
    position: absolute;
    left: 79px;
    top: 138px;
}